apiVersion: 1
providers:
{% for provider in grafana_providers %}
  - name: {{ provider.name }}
    orgId: 1
    folder: ''
    type: file
    disableDeletion: false
    updateIntervalSeconds: 10
    options:
      path: {{ provider.path }}
{% endfor %}
