[package]
name = "guest_program"
version.workspace = true
edition.workspace = true
authors.workspace = true
documentation.workspace = true

[dependencies]
serde.workspace = true
serde_with.workspace = true
serde_json = "1.0.117"
thiserror = "2.0.9"
rkyv.workspace = true
bytes.workspace = true

ethrex-common = { path = "../../../../common/", default-features = false }
ethrex-crypto = { path = "../../../../common/crypto", default-features = false }
ethrex-blockchain = { path = "../../../../blockchain/", default-features = false }
ethrex-vm = { path = "../../../../vm", default-features = false }
ethrex-rlp = { path = "../../../../common/rlp", default-features = false }
ethrex-storage = { path = "../../../../storage", default-features = false }
ethrex-trie = { path = "../../../../common/trie", default-features = false }
ethrex-l2-common = { path = "../../../common", default-features = false }

[build-dependencies]
hex.workspace = true
risc0-build = { version = "=3.0.3", optional = true }
risc0-zkvm = { version = "=3.0.3", optional = true, features = ["getrandom"] }
sp1-build = { version = "=5.0.8", optional = true }
sp1-sdk = { version = "=5.0.8", optional = true }
openvm-sdk = { git = "https://github.com/openvm-org/openvm.git", package = "openvm-sdk", optional = true, features = [
    "evm-prove",
    "parallel",
] }
bincode = "1.3"
serde.workspace = true

[package.metadata.risc0]
methods = ["src/risc0"]

[features]
default = ["secp256k1"]
risc0 = ["dep:risc0-build", "dep:risc0-zkvm"]
sp1 = ["dep:sp1-build", "dep:sp1-sdk"]
zisk = [
    "ethrex-common/zisk",
    "ethrex-blockchain/zisk",
    "ethrex-vm/zisk",
    "ethrex-l2-common/zisk",
]
openvm = ["dep:openvm-sdk"]
l2 = []
c-kzg = ["ethrex-vm/c-kzg", "ethrex-common/c-kzg"]
secp256k1 = [
    "ethrex-common/secp256k1",
    "ethrex-blockchain/secp256k1",
    "ethrex-vm/secp256k1",
    "ethrex-l2-common/secp256k1",
]
# temporary feature until we fix cargo-zisk setup-rom from failing in the CI
ci = []

# When this feature is enabled, the cycles used in the code inside the
# report_cycles! macro will be reported to stdout when running inside SP1 zkVM.
sp1-cycles = []

[lib]
path = "./src/lib.rs"
