[submodule "crates/l2/tee/verifier/lib/forge-std"]
	path = crates/l2/tee/verifier/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "crates/l2/tee/verifier/lib/openzeppelin-contracts"]
	path = crates/l2/tee/verifier/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
