[book]
authors = ["lambdaclass"]
language = "en"
src = "docs"
title = "Ethrex"

[rust]
edition = "2024"

# To render GitHub style alerts
# https://github.com/lambdalisue/rs-mdbook-alerts
[preprocessor.alerts]
# This is to avoid warnings about incomplete links on each alert
renderers = ["html", "linkcheck"]

# To render Mermaid diagrams
# https://github.com/badboy/mdbook-mermaid
[preprocessor.mermaid]
command = "mdbook-mermaid"

# To render LaTeX math expressions
# Note: Warnings can be safely ignored
# https://github.com/lzanini/mdbook-katex
[preprocessor.katex]
after = ["links"]

[output.html]
git-repository-url = "https://github.com/lambdaclass/ethrex"
# make sections collapsible, and start with everything collapsed
fold = { enable = true, level = 0 }
# Required for mdbook-mermaid
additional-js = ["mermaid.min.js", "mermaid-init.js"]

# keep README links working in mdBook output
[output.html.redirect]
"/getting-started/README.html" = "/getting-started/index.html"
"/getting-started/installation/README.html" = "/getting-started/installation/index.html"
"/l1/running/README.html" = "/l1/running/index.html"
"/developers/l1/testing/README.html" = "/developers/l1/testing/index.html"
"/l2/fundamentals/README.html" = "/l2/fundamentals/index.html"
"/l2/architecture/README.html" = "/l2/architecture/index.html"

[output.linkcheck]
optional = true
