[package]
name = "ethrex-levm"
version.workspace = true
edition.workspace = true

[dependencies]
lazy_static.workspace = true
ethrex-common.workspace = true
ethrex-crypto.workspace = true
ethrex-rlp.workspace = true
derive_more.workspace = true

bytes.workspace = true
keccak-hash.workspace = true
thiserror.workspace = true
serde = { workspace = true, features = ["derive", "rc"] }
serde_json.workspace = true

sha3.workspace = true
secp256k1.workspace = true
p256.workspace = true
sha2.workspace = true
ripemd.workspace = true
num-bigint.workspace = true
lambdaworks-math.workspace = true
bls12_381.workspace = true
ark-bn254.workspace = true
ark-ec.workspace = true
ark-ff.workspace = true
strum.workspace = true
malachite.workspace = true
k256.workspace = true

[dev-dependencies]
hex.workspace = true

[features]
default = []
c-kzg = ["ethrex-common/c-kzg"]
ethereum_foundation_tests = []
debug = []

[lints.rust]
unsafe_code = "warn"
warnings = "warn"
rust_2018_idioms = "warn"

[lints.clippy]
panic = "deny"
unnecessary_cast = "warn"
deref_by_slicing = "warn"
indexing_slicing = "warn"
manual_unwrap_or = "warn"
manual_unwrap_or_default = "warn"
as_conversions = "deny"
unwrap_used = "deny"
expect_used = "deny"

arithmetic_side_effects = "deny"
panicking_overflow_checks = "warn"
manual_saturating_arithmetic = "warn"

[lib]
path = "./src/lib.rs"
