[Unit]
Description=Explorer Backend
After=network.target

[Service]
Environment="MIX_ENV=prod"
ExecStart=mix phx.server
WorkingDirecroty={{ explorer_dir }}

Restart=on-failure

[Install]
WantedBy=multi-user.target
