services:
  redis-db:
    image: 'redis:alpine'
    container_name: redis-db
    command: redis-server
    volumes:
      - ./redis-data:/data

  db-init:
    image: postgres:17
    volumes:
      - ./blockscout-db-data:/var/lib/postgresql/data
    entrypoint:
      - sh
      - -c
      - |
        chown -R 2000:2000 /var/lib/postgresql/data

  db:
    image: postgres:17
    user: 2000:2000
    shm_size: 256m
    restart: always
    container_name: 'db'
    command: postgres -c 'max_connections=200' -c 'client_connection_check_interval=60000'
    environment:
        POSTGRES_DB: 'blockscout'
        POSTGRES_USER: 'blockscout'
        POSTGRES_PASSWORD: 'ceWb1MeLBEeOIfk65gU8EjF8'
    ports:
      - target: 5432
        published: 7432
    volumes:
      - ./blockscout-db-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U blockscout -d blockscout"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    depends_on:
      db-init:
        condition: service_completed_successfully
    
  backend:
    image: ghcr.io/lambdaclass/blockscout-private:9.2.2.commit.763c41da
    platform: linux/arm64
    pull_policy: always
    depends_on:
      - db
      - redis-db
    links:
      - db:database
    stop_grace_period: 5m
    container_name: 'backend'
    command: sh -c "bin/blockscout eval \"Elixir.Explorer.ReleaseTasks.create_and_migrate()\" && bin/blockscout start"
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    volumes:
      - ./logs/:/app/logs/
      - ./dets/:/app/dets/
    environment:
        ETHEREUM_JSONRPC_HTTP_URL: http://host.docker.internal:1729/
        ETHEREUM_JSONRPC_TRACE_URL: http://host.docker.internal:1729/
        CHAIN_ID: '65536999'
        ETHEREUM_JSONRPC_VARIANT: geth
        DISABLE_FILE_LOGGING: false
        DATABASE_URL: postgresql://blockscout:ceWb1MeLBEeOIfk65gU8EjF8@db:5432/blockscout
        ETHEREUM_JSONRPC_TRANSPORT: http
        ETHEREUM_JSONRPC_DISABLE_ARCHIVE_BALANCES: false
        SECRET_KEY_BASE: 56NtB48ear7+wMSf0IQuWDAAazhpb31qyc7GiyspBP2vh7t5zlCsF5QDv76chXeN
        PORT: 4000
        COIN_NAME: Ether
        COIN: ETH
        DISABLE_MARKET: true
        POOL_SIZE: 80
        POOL_SIZE_API: 10
        ECTO_USE_SSL: false
        HEART_BEAT_TIMEOUT: 30
        RELEASE_LINK: "prague,default"
        ADMIN_PANEL_ENABLED: false
        API_V1_READ_METHODS_DISABLED: false
        API_V1_WRITE_METHODS_DISABLED: false
        TXS_STATS_DAYS_TO_COMPILE_AT_INIT: 10
        COIN_BALANCE_HISTORY_DAYS: 90
        RE_CAPTCHA_DISABLED: false
        MICROSERVICE_SC_VERIFIER_TYPE: eth_bytecode_db
        MICROSERVICE_VISUALIZE_SOL2UML_ENABLED: true
        MICROSERVICE_VISUALIZE_SOL2UML_URL: http://visualizer:8050/
        MICROSERVICE_SIG_PROVIDER_ENABLED: true
        MICROSERVICE_SIG_PROVIDER_URL: http://sig-provider:8050/
        MICROSERVICE_ACCOUNT_ABSTRACTION_URL: http://user-ops-indexer:8050/
        DECODE_NOT_A_CONTRACT_CALLS: true
        ACCOUNT_ENABLED: false
        ACCOUNT_REDIS_URL: redis://redis-db:6379
        NFT_MEDIA_HANDLER_ENABLED: false
        NFT_MEDIA_HANDLER_REMOTE_DISPATCHER_NODE_MODE_ENABLED: false
        NFT_MEDIA_HANDLER_BUCKET_FOLDER: /folder_1
        RELEASE_NODE: producer@172.18.0.4
        RELEASE_DISTRIBUTION: name
        RELEASE_COOKIE: secret_cookie
  
  visualizer:
    image: ghcr.io/blockscout/visualizer:${VISUALIZER_DOCKER_TAG:-latest}
    pull_policy: always
    platform: linux/amd64
    restart: always
    container_name: 'visualizer'
    environment:
        VISUALIZER__SERVER__GRPC__ENABLED: false

  sig-provider:
    image: ghcr.io/blockscout/sig-provider:${SIG_PROVIDER_DOCKER_TAG:-latest}
    pull_policy: always
    platform: linux/amd64
    restart: always
    container_name: 'sig-provider'

  frontend:
    image: ghcr.io/lambdaclass/frontend-private:test
    platform: linux/amd64
    pull_policy: always
    container_name: 'frontend'
    depends_on:
      - backend
    environment:
        NEXT_PUBLIC_API_HOST: localhost:8082
        NEXT_PUBLIC_API_PROTOCOL: http
        NEXT_PUBLIC_STATS_API_HOST: http://localhost:8080
        NEXT_PUBLIC_NETWORK_NAME: Ethrex L2
        NEXT_PUBLIC_NETWORK_SHORT_NAME: Ethrex L2
        NEXT_PUBLIC_NETWORK_ID: 65536999
        NEXT_PUBLIC_NETWORK_CURRENCY_NAME: Ether
        NEXT_PUBLIC_NETWORK_CURRENCY_SYMBOL: ETH
        NEXT_PUBLIC_NETWORK_CURRENCY_DECIMALS: 18
        NEXT_PUBLIC_API_BASE_PATH: /
        NEXT_PUBLIC_APP_HOST: localhost:8082
        NEXT_PUBLIC_APP_PROTOCOL: http
        NEXT_PUBLIC_HOMEPAGE_CHARTS: "['daily_txs']"
        NEXT_PUBLIC_VISUALIZE_API_HOST: http://localhost:8081
        NEXT_PUBLIC_IS_TESTNET: true
        NEXT_PUBLIC_API_WEBSOCKET_PROTOCOL: ws
        NEXT_PUBLIC_API_SPEC_URL: https://raw.githubusercontent.com/blockscout/blockscout-api-v2-swagger/main/swagger.yaml
        NEXT_PUBLIC_AD_BANNER_PROVIDER: none
        NEXT_PUBLIC_AD_TEXT_PROVIDER: none
        NEXT_PUBLIC_MARKETPLACE_ENABLED: false
        NEXT_PUBLIC_PROMOTE_BLOCKSCOUT_IN_TITLE: false


  stats-db-init:
    image: postgres:17
    volumes:
      - ./stats-db-data:/var/lib/postgresql/data
    entrypoint:
      - sh
      - -c
      - |
        chown -R 2000:2000 /var/lib/postgresql/data

  stats-db:
    image: postgres:17
    user: 2000:2000
    shm_size: 256m
    restart: always
    container_name: 'stats-db'
    command: postgres -c 'max_connections=200'
    environment:
        POSTGRES_DB: 'stats'
        POSTGRES_USER: 'stats'
        POSTGRES_PASSWORD: 'n0uejXPl61ci6ldCuE2gQU5Y'
    ports:
      - target: 5432
        published: 7433
    volumes:
      - ./stats-db-data:/var/lib/postgresql/data
    depends_on:
      stats-db-init:
        condition: service_completed_successfully
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U stats -d stats"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  stats:
    image: ghcr.io/blockscout/stats:${STATS_DOCKER_TAG:-latest}
    pull_policy: always
    platform: linux/amd64
    restart: always
    container_name: 'stats'
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    depends_on:
      - stats-db
      - backend
    environment:
      - STATS__DB_URL=${STATS__DB_URL:-postgres://stats:n0uejXPl61ci6ldCuE2gQU5Y@stats-db:5432/stats}
      - STATS__BLOCKSCOUT_DB_URL=${STATS__BLOCKSCOUT_DB_URL:-postgresql://blockscout:ceWb1MeLBEeOIfk65gU8EjF8@db:5432/blockscout}
      - STATS__CREATE_DATABASE=${STATS__CREATE_DATABASE:-true}
      - STATS__RUN_MIGRATIONS=${STATS__RUN_MIGRATIONS:-true}
      - STATS__BLOCKSCOUT_API_URL=${STATS__BLOCKSCOUT_API_URL:-http://host.docker.internal:8082}
      - STATS__SERVER__HTTP__CORS__ENABLED=${STATS__SERVER__HTTP__CORS__ENABLED:-false}
      - STATS__SERVER__HTTP__CORS__ALLOWED_ORIGIN=${STATS__SERVER__HTTP__CORS__ALLOWED_ORIGIN:-}
      - STATS__CONDITIONAL_START__USER_OPS_PAST_INDEXING_FINISHED__ENABLED=${STATS__CONDITIONAL_START__USER_OPS_PAST_INDEXING_FINISHED__ENABLED:-false}      
      - STATS__SERVER__HTTP__ENABLED=true
      - STATS__SERVER__HTTP__ADDR=0.0.0.0:8050
      - STATS__SERVER__HTTP__MAX_BODY_SIZE=2097152
      # - STATS__SERVER__HTTP__CORS__ENABLED=true
      - STATS__SERVER__HTTP__CORS__ALLOWED_ORIGIN=http://localhost:8080
      - STATS__SERVER__GRPC__ENABLED=false
      - STATS__SERVER__GRPC__ADDR=0.0.0.0:8051
      - STATS__DEFAULT_SCHEDULE=0 0 1 * * * *
      - STATS__FORCE_UPDATE_ON_START=false
      - STATS__METRICS__ENABLED=false
      - STATS__METRICS__ADDR=0.0.0.0:6060
      - STATS__METRICS__ROUTE=/metrics
      - STATS__JAEGER__ENABLED=false
      - STATS__JAEGER__AGENT_ENDPOINT=localhost:6831
      - STATS__TRACING__ENABLED=true
      - STATS__TRACING__FORMAT=default
    ports:
      - 8050:8050

  proxy:
    depends_on:
      - backend
      - frontend
      - stats
    image: nginx
    container_name: proxy
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    configs:
      - source: nginx_conf
        target: /etc/nginx/templates/default.conf.template
    environment:
      BACK_PROXY_PASS: ${BACK_PROXY_PASS:-http://backend:4000}
      FRONT_PROXY_PASS: ${FRONT_PROXY_PASS:-http://frontend:3000}
    ports:
      - target: 80
        published: 8082
      - target: 8080
        published: 8080
      - target: 8081
        published: 8081

  ethrex-dev:
    container_name: ethrex-dev
    image: "ghcr.io/lambdaclass/ethrex:latest-l2"
    platform: linux/amd64
    depends_on:
      - proxy
    ports:
      - 127.0.0.1:8545:8545
      - 127.0.0.1:5555:5555
      - 127.0.0.1:1729:1729
    command: >
      l2 --dev --no-monitor --proof-coordinator.addr 0.0.0.0

  ethrex-prover:
    container_name: ethrex-prover
    image: "ghcr.io/lambdaclass/ethrex:latest-l2"
    depends_on:
      - ethrex-dev
    platform: linux/amd64
    command: >
      l2 prover --proof-coordinators tcp://ethrex-dev:3900

configs:
  nginx_conf:
    content: |
      map $$http_upgrade $$connection_upgrade {
        default upgrade;
        ''      close;
      }

      server {
          listen       80;
          server_name  localhost:8082;
          proxy_http_version 1.1;

          location ~ ^/(api(?!-docs$$)|socket|sitemap.xml|auth/auth0|auth/auth0/callback|auth/logout) {
              proxy_pass            $${BACK_PROXY_PASS};
              proxy_http_version    1.1;
              proxy_set_header      Host "$$host";
              proxy_set_header      X-Real-IP "$$remote_addr";
              proxy_set_header      X-Forwarded-For "$$proxy_add_x_forwarded_for";
              proxy_set_header      X-Forwarded-Proto "$$scheme";
              proxy_set_header      Upgrade "$$http_upgrade";
              proxy_set_header      Connection $$connection_upgrade;
              proxy_cache_bypass    $$http_upgrade;
          }

          location / {
              proxy_pass            $${FRONT_PROXY_PASS};
              proxy_http_version    1.1;
              proxy_set_header      Host "$$host";
              proxy_set_header      X-Real-IP "$$remote_addr";
              proxy_set_header      X-Forwarded-For "$$proxy_add_x_forwarded_for";
              proxy_set_header      X-Forwarded-Proto "$$scheme";
              proxy_set_header      Upgrade "$$http_upgrade";
              proxy_set_header      Connection $$connection_upgrade;
              proxy_cache_bypass    $$http_upgrade;
          }
      }

      server {
        listen 8080;
        server_name localhost:8082;
        proxy_http_version 1.1;
        proxy_hide_header Access-Control-Allow-Origin;
        proxy_hide_header Access-Control-Allow-Methods;
        add_header 'Access-Control-Allow-Origin' 'http://localhost:8082' always;
        add_header 'Access-Control-Allow-Credentials' 'true' always;
        add_header 'Access-Control-Allow-Methods' 'PUT, GET, POST, OPTIONS, DELETE, PATCH' always;

        location / {
          proxy_pass http://stats:8050/;
        }
      }

      server {
        listen 8081;
        server_name localhost:8082;
        proxy_http_version 1.1;
        proxy_hide_header Access-Control-Allow-Origin;
        proxy_hide_header Access-Control-Allow-Methods;
        add_header 'Access-Control-Allow-Origin' 'http://localhost:8082' always;
        add_header 'Access-Control-Allow-Credentials' 'true' always;
        add_header 'Access-Control-Allow-Methods' 'PUT, GET, POST, OPTIONS, DELETE, PATCH' always;
        add_header 'Access-Control-Allow-Headers' 'DNT,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range,Authorization,x-csrf-token' always;

        location / {
          proxy_pass http://visualizer:8050/;
        }
      }
