[package]
name = "load_test"
version.workspace = true
edition.workspace = true
authors.workspace = true
documentation.workspace = true

[dependencies]
ethrex-sdk = { workspace = true, default-features = false }
ethrex-blockchain = { workspace = true, default-features = false, features = [
    "l1",
] }
ethrex-common = { workspace = true, default-features = false, features = [
    "l1",
] }
ethrex-l2-common = { workspace = true, default-features = false, features = [
    "l1",
] }
ethrex-rpc = { workspace = true, default-features = false }
ethrex-l2-rpc = { workspace = true, default-features = false }

clap.workspace = true
hex.workspace = true
secp256k1.workspace = true
ethereum-types.workspace = true
eyre.workspace = true
tokio = { workspace = true, features = ["full"] }
futures = "0.3"
url.workspace = true
