[Unit]
Description=Ethrex L2
After=network.target

[Service]
ExecStart={{ ethrex_dir }}/bin/ethrex l2 init \
          --network {{ genesis_json_file }} \
          --http.addr 0.0.0.0 --http.port 1729 \
          --metrics --metrics.port 3702 \
          --evm levm \
          --datadir ethrex_l2 \
          --l1.bridge-address {{ common_bridge_address }} \
          --l1.on-chain-proposer-address {{ on_chain_proposer_address }} \
          --committer.l1-private-key {{ committer_pk }} \
          --proof-coordinator.l1-private-key {{ proof_sender_pk }} \
          --proof-coordinator.addr 0.0.0.0 \
          --block-producer.coinbase-address {{ coinbase_address }} \
          --validium \
          --eth.maximum-allowed-max-fee-per-gas {{ eth_max_allowed_fee_per_gas }} \
          --eth.maximum-allowed-max-fee-per-blob-gas {{ eth_max_allowed_fee_per_blob_gas }} \
          --committer.commit-time {{ committer_commit_time }} \
          --eth.rpc-url {{ eth_testnet_rpc }} https://sepolia.infura.io/v3/{{ infura_api_key }}

Restart=on-failure

[Install]
WantedBy=multi-user.target
