- name: Ethrex L1 Setup
  hosts: l1
  vars:
    ansible_ssh_user: app
    ethrex_dir: "/home/{{ ansible_user }}/ethrex"
    ethereum_metrics_exporter_version: "0.27.4"
    lighthouse_version: "7.0.1"
    ethrex_version: "v0.0.1-rc.1"

  tasks:
    - name: Install Clang and related tools
      become: true
      apt:
        name:
          - libclang-dev
          - clang
          - tmux
          - rsync
          - linux-perf
          - git
          - pkg-config
        state: present
        update_cache: yes
      vars:
        ansible_ssh_user: admin

    - name: Make directories
      file:
        path: "{{ ethrex_dir }}/bin"
        state: directory
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
        mode: "0700"

    - name: Download ethrex
      get_url:
        url: https://github.com/lambdaclass/ethrex/releases/download/{{ ethrex_version }}/ethrex-linux_{{ ansible_architecture }}
        dest: "{{ ethrex_dir }}/bin/ethrex"
        mode: "0744"

    - name: Download Lighthouse
      get_url:
        url: https://github.com/sigp/lighthouse/releases/download/v{{ lighthouse_version }}/lighthouse-v{{ lighthouse_version }}-{{ ansible_architecture }}-unknown-linux-gnu.tar.gz
        dest: "/tmp/lighthouse-{{ lighthouse_version }}.tar.gz"
        mode: '0644'

    - name: Extract Lighthouse
      unarchive:
        src: "/tmp/lighthouse-{{ lighthouse_version }}.tar.gz"
        dest: "/tmp/"
        remote_src: true

    - name: Move Lighthouse
      become: true
      copy:
        remote_src: true
        src: "/tmp/lighthouse"
        dest: "/usr/local/bin/lighthouse"
        mode: u=rwx,g=rx,o=rx
      vars:
        ansible_ssh_user: admin

    - name: Ensure user systemd directory exists
      file:
        path: "/home/{{ ansible_user }}/.config/systemd/user"
        state: directory
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
        mode: '0700'

    - name: Create Lighthouse service
      template:
        src: services/lighthouse.service.j2
        dest: "/home/{{ ansible_user }}/.config/systemd/user/lighthouse.service"
      vars:
        network: "{{ lookup('env', 'NETWORK') | lower }}"
        checkpoint_sync_url: "https://hoodi.beaconstate.ethstaker.cc"
        
    - name: Start Lighthouse
      systemd:
        name: lighthouse
        state: started
        enabled: true
        daemon_reload: true
        scope: user

    - name: Get architecture
      set_fact:
        architecture: "{{ 'amd64' if ansible_architecture == 'x86_64' else 'arm64' if ansible_architecture == 'aarch64' else ansible_architecture }}"

    - name: Download Ethereum Metrics Exporter
      get_url:
        url: "https://github.com/ethpandaops/ethereum-metrics-exporter/releases/download/v{{ ethereum_metrics_exporter_version }}/ethereum-metrics-exporter_{{ ethereum_metrics_exporter_version }}_linux_{{ architecture }}.tar.gz "
        dest: "/tmp/ethereum_metrics_exporter_{{ ethereum_metrics_exporter_version }}.tar.gz"
        mode: '0644'

    - name: Extract Ethereum Metrics Exporter
      unarchive:
        src: "/tmp/ethereum_metrics_exporter_{{ ethereum_metrics_exporter_version }}.tar.gz"
        dest: /tmp/
        remote_src: yes
      
    - name: Move Ethereum Metrics Exporter
      become: true
      copy:
        remote_src: true
        src: "/tmp/ethereum-metrics-exporter-{{ ethereum_metrics_exporter_version }}"
        dest: "/usr/local/bin/ethereum-metrics-exporter"
        mode: u=rwx,g=rx,o=rx
      vars:
        ansible_ssh_user: admin

    - name: Create Ethereum Metrics Exporter service
      template:
        src: services/ethereum-metrics-exporter.service.j2
        dest: "/home/{{ ansible_user }}/.config/systemd/user/ethereum-metrics-exporter.service"

    - name: Remove downloads on /tmp
      file:
        path: "/tmp/{{ item }}"
        state: absent
      loop:
        - lighthouse
        - lighthouse-{{ lighthouse_version }}.tar.gz
        - "ethereum_metrics_exporter_{{ ethereum_metrics_exporter_version }}.tar.gz"
        - "ethereum-metrics-exporter-{{ ethereum_metrics_exporter_version }}"

    - name: Ensure user systemd directory exists
      file:
        path: "/home/{{ ansible_user }}/.local/share/{{ network  }}_data/"
        state: directory
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
        mode: '0700'
      vars:
        network: "{{ lookup('env', 'NETWORK') | lower }}"

    - name: Generate JWT secret
      shell: "openssl rand -hex 32 | tr -d '\n' | tee {{ jwt_path }}"
      vars:
        network: "{{ lookup('env', 'NETWORK') | lower }}"
        jwt_path: "/home/{{ ansible_user }}/.local/share/{{ network }}_data/jwt.hex"
      args:
        creates: "{{ jwt_path }}"

    - name: Start Ethereum Metrics Exporter
      systemd:
        name: ethereum-metrics-exporter
        state: started
        enabled: true
        daemon_reload: true
        scope: user

    - name: Install Ethrex L1
      template:
        src: services/ethrex-l1.service.j2
        dest: /home/{{ ansible_user }}/.config/systemd/user/ethrex-l1.service
      vars:
        network: "{{ lookup('env', 'NETWORK') | lower }}"
        evm: "{{ lookup('env', 'EVM') }}"
        bootnodes: "{{ lookup('env', 'BOOTNODES') }}"
    
    - name: Start Ethrex L1
      systemd:
        name: ethrex-l1
        state: started
        enabled: true
        daemon_reload: true
        scope: user
