- name: Ethrex L2 Setup
  hosts: l2
  vars:
    ansible_ssh_user: app
    ethrex_dir: "/home/{{ ansible_user }}/ethrex"
    ethrex_version: "v0.0.1-rc.1"
    uploaded_json_genesis_file: "{{ ethrex_dir }}/genesis.json"

  tasks:
    - name: Make directories
      file:
        path: "{{ ethrex_dir }}/bin"
        state: directory
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
        mode: "0700"

    - name: Download ethrex
      get_url:
        url: https://github.com/lambdaclass/ethrex/releases/download/{{ ethrex_version }}/ethrex-linux_{{ ansible_architecture }}
        dest: "{{ ethrex_dir }}/bin/ethrex"
        mode: "0744"

    - name: Copy genesis JSON file (If set)
      register: genesis_copy
      copy:
        src: "{{ lookup('env', 'GENESIS_JSON_FILE') }}"
        dest: "{{ uploaded_json_genesis_file }}"
      when: lookup('env', 'GENESIS_JSON_FILE') | length > 0 # Copy genesis JSON from ansible host only if envvar is set.

    - name: Download defualt dev genesis (If a custom one is not provided)
      get_url:
        url: https://raw.githubusercontent.com/lambdaclass/ethrex/refs/tags/{{ ethrex_version }}/fixtures/genesis/l2.json
        dest: "{{ uploaded_json_genesis_file }}"
      when: lookup('env', 'GENESIS_JSON_FILE') | length == 0

    - name: Ensure user systemd directory exists
      file:
        path: "/home/{{ ansible_user }}/.config/systemd/user"
        state: directory
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
        mode: "0700"

    - name: Install Ethrex L2 service
      template:
        src: services/ethrex-l2.service.j2
        dest: /home/{{ ansible_user }}/.config/systemd/user/ethrex-l2.service
      vars:
        genesis_json_file: "{{ uploaded_json_genesis_file }}"
        common_bridge_address: "{{ lookup('env', 'COMMON_BRIDGE_ADDRESS') }}"
        on_chain_proposer_address: "{{ lookup('env', 'ON_CHAIN_PROPOSER_ADDRESS') }}"
        committer_pk: "{{ lookup('env', 'COMMITTER_PK') }}"
        proof_sender_pk: "{{ lookup('env', 'PROOF_SENDER_PK') }}"
        coinbase_address: "{{ lookup('env', 'COINBASE_ADDRESS') }}"
        eth_testnet_rpc: "{{ lookup('env', 'TESTNET_RPC') }}"
        infura_api_key: "{{ lookup('env', 'INFURA_API_KEY') }}"
        eth_max_allowed_fee_per_gas: 10000000000000
        eth_max_allowed_fee_per_blob_gas: 10000000000000
        committer_commit_time: 3600000

    - name: Start Ethrex L2
      systemd:
        name: ethrex-l2
        state: started
        enabled: true
        daemon_reload: true
        scope: user
