[package]
name = "reorgs"
version.workspace = true
edition.workspace = true

[dependencies]
ethrex = { workspace = true, features = ["l2"] }
ethrex-common = { workspace = true, default-features = false, features = [
    "l1",
] }
ethrex-blockchain = { workspace = true, default-features = false, features = [
    "l1",
] }
ethrex-rpc = { workspace = true, default-features = false, features = ["l1"] }
ethrex-config = { workspace = true, default-features = false, features = [
    "l1",
] }
ethrex-l2-common = { workspace = true, default-features = false, features = [
    "l1",
] }
ethrex-l2-rpc = { workspace = true, default-features = false, features = [
    "l1",
] }
ethrex-p2p = { workspace = true, default-features = false, features = ["l1"] }

tokio.workspace = true
tokio-util.workspace = true
tracing.workspace = true
rand.workspace = true
sha2.workspace = true
hex.workspace = true
nix = { version = "0.30", features = ["signal"] }
secp256k1.workspace = true
url.workspace = true
