[package]
name = "quote-gen"
version = "9.0.0"
edition = "2024"
license = "MIT OR Apache-2.0"

[dependencies]
configfs-tsm = "0.0.1"
tokio = { version = "1.41.1", features = ["full"] }
hex = "0.4"
zerocopy = "0.8"
serde = { version = "<1.0.220", features = ["derive"] }
# serde >=1.0.220 contains a breaking change for alloy-consensus
# https://github.com/alloy-rs/alloy/issues/2876
serde_json = "1.0"

ethrex-common = { path = "../../../common", default-features = false }
ethrex-storage = { path = "../../../storage", default-features = false }
ethrex-rlp = { path = "../../../common/rlp" }
ethrex-vm = { path = "../../../vm", default-features = false }
ethrex-blockchain = { path = "../../../blockchain", default-features = false }
ethrex-rpc = { path = "../../../networking/rpc", default-features = false }
ethrex-guest-program = { path = "../../../guest-program", default-features = false }
ethrex-l2 = { path = "../..", default-features = false }
ethrex-l2-common = { path = "../../common", default-features = false }

secp256k1 = { version = "0.30.0", default-features = false, features = [
  "global-context",
  "recovery",
  "rand",
  "std",
] }

[workspace]

[features]
default = ["l2"]
l2 = ["ethrex-guest-program/l2", "ethrex-l2/l2"]
