[package]
version = "0.1.0"
name = "zkvm-zisk-program"
edition = "2024"

[workspace]

[dependencies]
ziskos = { git = "https://github.com/0xPolygonHermez/zisk.git", branch = "fix/bls" }
sha2 = "0.10.9"
rkyv = { version = "0.8.10", features = ["std", "unaligned"] }

guest_program = { path = "../../", default-features = false }
ethrex-vm = { path = "../../../../../../vm", default-features = false, features = [
    "zisk",
] }
ethrex-common = { path = "../../../../../../common", default-features = false, features = [
    "zisk",
] }
ethrex-blockchain = { path = "../../../../../../blockchain", default-features = false, features = [
    "zisk",
] }

[patch.crates-io]
kzg-rs = { git = "https://github.com/0xPolygonHermez/zisk-patch-kzg.git", branch = "fix/bls" }
sha2 = { git = "https://github.com/0xPolygonHermez/zisk-patch-hashes.git", branch = "fix/bls" }
sha3 = { git = "https://github.com/0xPolygonHermez/zisk-patch-hashes.git", tag = "patch-sha3-0.10.8-zisk-0.14.0" }
k256 = { git = "https://github.com/0xPolygonHermez/zisk-patch-elliptic-curves.git", branch = "fix/bls" }
bn = { git = "https://github.com/0xPolygonHermez/zisk-patch-bn.git", branch = "fix/bls", package = "substrate-bn" }
sp1_bls12_381 = { git = "https://github.com/0xPolygonHermez/zisk-patch-bls12-381.git", branch = "fix/bls" }
ark-bls12-381 = { git = "https://github.com/0xPolygonHermez/zisk-patch-ark-algebra.git", branch = "fix/bls" }
ark-ec = { git = "https://github.com/0xPolygonHermez/zisk-patch-ark-algebra.git", branch = "fix/bls" }
ark-ff = { git = "https://github.com/0xPolygonHermez/zisk-patch-ark-algebra.git", branch = "fix/bls" }
ark-bn254 = { git = "https://github.com/0xPolygonHermez/zisk-patch-ark-algebra.git", branch = "fix/bls" }
ark-serialize  = { git = "https://github.com/0xPolygonHermez/zisk-patch-ark-algebra.git", branch = "fix/bls" }

[features]
l2 = ["guest_program/l2"]
