[package]
name = "ef_tests-state"
version.workspace = true
edition.workspace = true

[dependencies]
ethrex-blockchain.workspace = true
ethrex-common.workspace = true
ethrex-storage.workspace = true
ethrex-rlp.workspace = true
ethrex-vm.workspace = true
ethrex-levm.workspace = true

serde.workspace = true
serde_json.workspace = true
# Since we do heavy parsing of ef tests, simd-json is more than 2x faster than serde_json
simd-json.workspace = true
bytes.workspace = true
hex.workspace = true
keccak-hash.workspace = true
colored.workspace = true
spinoff.workspace = true
thiserror.workspace = true
clap.workspace = true
itertools.workspace = true
revm = { workspace = true, features = [
    "serde",
    "std",
    "serde-json",
    "optional_no_base_fee",
    "optional_block_gas_limit",
], default-features = false }
alloy-rlp.workspace = true
tokio = { workspace = true, features = ["full"] }
rayon.workspace = true

[dev-dependencies]
hex.workspace = true

[lib]
path = "./lib.rs"

[features]
default = ["c-kzg", "blst"]
c-kzg = ["ethrex-vm/c-kzg", "ethrex-levm/c-kzg", "ethrex-common/c-kzg"]
blst = ["ethrex-vm/blst"]

[[test]]
name = "all"
harness = false
