name: L2
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["**"]
    paths:
      - "crates/l2/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  CI_ETHREX_WORKDIR: /usr/local/bin

jobs:
  test:
    # "Integration Test" is a required check, don't change the name
    name: Integration Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Rustup toolchain install
        uses: dtolnay/rust-toolchain@stable

      - name: Set up Rust cache
        uses: Swatinem/rust-cache@v2
        with:
            cache-on-failure: "true"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Bake docker images
        uses: docker/bake-action@v6
        with:
          workdir: "crates/l2"
          files: "crates/l2/docker-compose-l2.yaml"
          load: true
          set: |
            *.cache-to=type=gha,mode=max
            *.cache-from=type=gha

      - name: RISC-V SP1 toolchain install
        run: |
          curl -L https://sp1.succinct.xyz | bash
          ~/.sp1/bin/sp1up --version 4.1.0

      - name: Build prover
        run: |
          cd crates/l2
          PROVER=sp1 make build-prover

      - name: Run L2 integration test
        run: |
          cd crates/l2
          cp configs/config_docker_example.toml configs/config.toml
          cp configs/prover_client_config_example.toml configs/prover_client_config.toml

          touch .env
          CI_ETHREX_WORKDIR=/usr/local/bin docker compose -f docker-compose-l2.yaml up --detach

          RUST_LOG=info,ethrex_prover=debug make init-prover & cargo test l2 --release -- --nocapture --test-threads=1
