name: L1
on:
  push:
    branches: ["main"]
  merge_group:
  pull_request:
    branches: ["**"]

permissions:
  contents: read
  actions: write

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  docker_build:
    name: Build Docker
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Free Disk Space
        uses: ./.github/actions/free-disk

      - id: docker
        name: Build Ethrex Docker Image
        uses: ./.github/actions/build-docker
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ethrex_image
          path: /tmp/ethrex_image.tar

  run-hive:
    name: Hive - ${{ matrix.name }}
    runs-on: ubuntu-latest
    needs: [docker_build]
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: "Devp2p tests 1"
            simulation: devp2p
            limit: eth/LargeTxRequest
            artifact_prefix: devp2p
          - name: "Devp2p tests 2"
            simulation: devp2p
            limit: eth/LargeTxRequest
            artifact_prefix: devp2p
          - name: "Devp2p tests 3"
            simulation: devp2p
            limit: eth/LargeTxRequest
            artifact_prefix: devp2p
          - name: "Devp2p tests 4"
            simulation: devp2p
            limit: eth/LargeTxRequest
            artifact_prefix: devp2p
          - name: "Devp2p tests 5"
            simulation: devp2p
            limit: eth/LargeTxRequest
            artifact_prefix: devp2p
          - name: "Devp2p tests 6"
            simulation: devp2p
            limit: eth/LargeTxRequest
            artifact_prefix: devp2p
          - name: "Devp2p tests 7"
            simulation: devp2p
            limit: eth/LargeTxRequest
            artifact_prefix: devp2p
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Download ethrex image artifact
        uses: actions/download-artifact@v4
        with:
          name: ethrex_image
          path: /tmp

      - name: Load image
        run: |
          docker load --input /tmp/ethrex_image.tar

      - name: Load hive client config
        id: client-config
        shell: bash
        run: |
          {
            echo "config<<EOF"
            cat .github/config/hive/clients.yaml
            echo "EOF"
          } >>"$GITHUB_OUTPUT"

      - name: Determine hive flags
        id: hive-flags
        shell: bash
        env:
          SIM_LIMIT: ${{ matrix.limit }}
        run: |
          FLAGS='--sim.parallelism 4 --sim.loglevel 3 --docker.output'
          if [[ -n "$SIM_LIMIT" ]]; then
            escaped_limit=${SIM_LIMIT//\'/\'\\\'\'}
            FLAGS+=" --sim.limit '$escaped_limit'"
          fi
          echo "flags=$FLAGS" >> "$GITHUB_OUTPUT"

      - name: Run Hive Simulation
        id: run-hive-action
        uses: ethpandaops/hive-github-action@v0.5.0
        with:
          hive_repository: ethereum/hive
          hive_version: 7709e5892146c793307da072e1593f48039a7e4b
          simulator: ${{ matrix.simulation }}
          client: ethrex
          client_config: ${{ steps.client-config.outputs.config }}
          extra_flags: ${{ steps.hive-flags.outputs.flags }}

      - name: Check Hive Results For Failures
        id: verify-hive-results
        if: ${{ success() }}
        shell: bash
        run: ./.github/scripts/check-hive-results.sh src/results

      - name: Upload Hive Failure Logs
        if: ${{ failure() && steps.verify-hive-results.conclusion == 'failure' }}
        uses: actions/upload-artifact@v4
        with:
          name: hive_failed_logs_${{ matrix.artifact_prefix }}
          path: src/results/failed_logs
          if-no-files-found: warn
