name: Publish Ethrex docs to https://docs.ethrex.xyz/

on:
  push:
    branches:
      - main
    paths:
      - "docs/**"
  pull_request:
    paths:
      - "docs/**"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - uses: actions/checkout@v4

      - name: Setup mdBook
        uses: peaceiris/actions-mdbook@v2
        with:
          mdbook-version: '0.4.51'

      - name: Install mdbook-katex
        run: cargo install --version 0.9.4 mdbook-katex

      - name: Install mdbook-linkcheck
        run: cargo install --version 0.7.7 mdbook-linkcheck

      - name: Install mdbook-alerts
        run: cargo install --version 0.8.0 mdbook-alerts

      - name: Install mdbook-mermaid
        run: cargo install --version 0.15.0 mdbook-mermaid

      - name: Build documentation
        run: make docs

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: book/html
          destination_dir: .     # root of gh-pages
          keep_files: true       # do not erase flamegraphs/ or benchmarks/
          cname: docs.ethrex.xyz # always commit the CNAME file
