name: L2 Shared Bridge
on:
  push:
    branches: ["main"]
  merge_group:
  pull_request:
    branches: ["**"]
  workflow_dispatch:

permissions:
  contents: read
  actions: write

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  DOCKER_ETHREX_WORKDIR: /usr/local/bin

jobs:
  detect-changes:
    runs-on: ubuntu-latest
    outputs:
      run_tests: ${{ steps.finish.outputs.run_tests }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            run_tests:
              - "crates/l2/**"
              - "fixtures/**"
              - "crates/blockchain/dev/**"
              - "crates/vm/levm/**"
              - ".github/workflows/pr-main_l2.yaml"
              - "cmd/ethrex/l2/**"
      - name: finish
        id: finish
        run: |
          if [[ "${GITHUB_EVENT_NAME}" == "merge_group" ]]; then
              echo "run_tests=false" >> "$GITHUB_OUTPUT"
          elif [[ "${GITHUB_EVENT_NAME}" != "pull_request" ]]; then
              echo "run_tests=true" >> "$GITHUB_OUTPUT"
          else
              echo "run_tests=${{ steps.filter.outputs.run_tests }}" >> "$GITHUB_OUTPUT"
          fi
      - name: Print result
        run: echo "run_tests=${{ steps.finish.outputs.run_tests }}"

  build-docker:
    name: Build docker image
    runs-on: ubuntu-latest
    needs: detect-changes
    if: ${{ needs.detect-changes.outputs.run_tests == 'true' }}
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build L1 docker image
        uses: ./.github/actions/build-docker
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          tags: ethrex:main

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ethrex_image
          path: /tmp/ethrex_image.tar

  # We build the docker image for the l2 usage. It needs to add
  # The build args for l2.
  build-docker-l2:
    name: Build docker image L2
    runs-on: ubuntu-latest
    needs: detect-changes
    if: ${{ needs.detect-changes.outputs.run_tests == 'true' }}
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build L2 docker image
        uses: ./.github/actions/build-docker
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          tags: ethrex:main-l2
          artifact_path: ethrex_image_l2.tar
          build_args: BUILD_FLAGS=--features l2,l2-sql

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ethrex_image_l2
          path: /tmp/ethrex_image_l2.tar

  integration-test:
    name: Integration Test Shared Bridge
    runs-on: ubuntu-latest
    needs: [detect-changes, build-docker, build-docker-l2]
    if: ${{ needs.detect-changes.outputs.run_tests == 'true' }}
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
      - name: Setup Rust Environment
        uses: ./.github/actions/setup-rust

      - name: Install solc
        uses: lambdaclass/get-solc@master
        with:
          version: v0.8.29
          token: ${{ secrets.GITHUB_TOKEN || '' }}

      - name: Build prover
        run: |
          cd crates/l2
          make build-prover-exec
          mkdir -p prover/src/guest_program/src/sp1/out && touch prover/src/guest_program/src/sp1/out/riscv32im-succinct-zkvm-vk-bn254 && touch prover/src/guest_program/src/sp1/out/riscv32im-succinct-zkvm-vk-u32

      - name: Build test
        run: |
          cargo test l2 --features l2 --no-run --release

      - name: Download ethrex image artifact
        uses: actions/download-artifact@v4
        with:
          name: ethrex_image
          path: /tmp

      - name: Load ethrex image
        run: |
          docker load --input /tmp/ethrex_image.tar

      - name: Download ethrex L2 image artifact
        uses: actions/download-artifact@v4
        with:
          name: ethrex_image_l2
          path: /tmp

      - name: Load ethrex L2 image
        run: |
          docker load --input /tmp/ethrex_image_l2.tar

      - name: Start L1
        run: |
          cd crates/l2
          docker compose up --detach ethrex_l1

      - name: Deploy contracts L2A
        run: |
          #
          # If this job fails due to connection refused to ethrex_l1 consider increasing the failure retries
          # in the contract_deployer service in crates/l2/docker-compose.yaml
          #
          touch cmd/.env
          cd crates/l2
          DOCKER_ETHREX_WORKDIR=/usr/local/bin \
          ETHREX_DEPLOYER_DEPLOY_RICH=true \
          ETHREX_SHARED_BRIDGE_DEPLOY_ROUTER=true \
          docker compose up contract_deployer

          DEPLOYER_EXIT_CODE=$(docker inspect -f '{{.State.ExitCode}}' contract_deployer)
          if [ "$DEPLOYER_EXIT_CODE" != "0" ]; then
            echo "If this job fails due to connection refused to ethrex_l1 consider increasing the failure retries in the contract_deployer service in crates/l2/docker-compose.yaml"
            docker logs contract_deployer
            exit 1
          fi

      - name: Copy env to host
        run: |
          docker cp contract_deployer:/env/.env cmd/.env_l2a
          cat cmd/.env_l2a

      - name: Deploy contracts L2B
        run: |
          jq '.config.chainId = 1730' fixtures/genesis/l2.json > fixtures/genesis/l2b.json
          #
          # If this job fails due to connection refused to ethrex_l1 consider increasing the failure retries
          # in the contract_deployer service in crates/l2/docker-compose.yaml
          #
          export $(grep -v '^#' cmd/.env_l2a | xargs)
          touch cmd/.env
          cd crates/l2
          DOCKER_ETHREX_WORKDIR=/usr/local/bin \
          ETHREX_DEPLOYER_DEPLOY_RICH=true \
          ETHREX_SHARED_BRIDGE_ROUTER_ADDRESS=$ETHREX_SHARED_BRIDGE_ROUTER_ADDRESS \
          docker compose -f docker-compose.yaml -f docker-compose-l2-shared-bridge.overrides.yaml up contract_deployer

          DEPLOYER_EXIT_CODE=$(docker inspect -f '{{.State.ExitCode}}' contract_deployer)
          if [ "$DEPLOYER_EXIT_CODE" != "0" ]; then
            echo "If this job fails due to connection refused to ethrex_l1 consider increasing the failure retries in the contract_deployer service in crates/l2/docker-compose.yaml"
            docker logs contract_deployer
            exit 1
          fi

      - name: Copy env to host
        run: |
          docker cp contract_deployer:/env/.env cmd/.env_l2b
          cat cmd/.env_l2b

      - name: Start Sequencer L2A
        run: |
          cp cmd/.env_l2a cmd/.env
          export ETHREX_BLOCK_PRODUCER_BASE_FEE_VAULT_ADDRESS=0x000c0d6b7c4516a5b274c51ea331a9410fe69127
          export ETHREX_BLOCK_PRODUCER_OPERATOR_FEE_VAULT_ADDRESS=0xd5d2a85751b6F158e5b9B8cD509206A865672362
          export ETHREX_BLOCK_PRODUCER_OPERATOR_FEE_PER_GAS=1000000000
          export ETHREX_BLOCK_PRODUCER_L1_FEE_VAULT_ADDRESS=0x45681AE1768a8936FB87aB11453B4755e322ceec
          cd crates/l2
          export $(cat ../../cmd/.env_l2a | xargs)
          DOCKER_ETHREX_WORKDIR=/usr/local/bin \
          ETHREX_WATCHER_BLOCK_DELAY=0 \
          ETHREX_COMMITTER_COMMIT_TIME=15000 \
          ETHREX_WATCHER_WATCH_INTERVAL=1000 \
          ETHREX_WATCHER_L2_RPCS=http://ethrex_l2_b:1730 \
          ETHREX_WATCHER_L2_CHAIN_IDS=1730 \
          ETHREX_WATCHER_ROUTER_ADDRESS=$ETHREX_SHARED_BRIDGE_ROUTER_ADDRESS \
          docker compose -f docker-compose.yaml up --detach --no-deps ethrex_l2

      - name: Start Sequencer L2B
        run: |
          cp cmd/.env_l2b cmd/.env
          export ETHREX_BLOCK_PRODUCER_BASE_FEE_VAULT_ADDRESS=0x000c0d6b7c4516a5b274c51ea331a9410fe69127
          export ETHREX_BLOCK_PRODUCER_OPERATOR_FEE_VAULT_ADDRESS=0xd5d2a85751b6F158e5b9B8cD509206A865672362
          export ETHREX_BLOCK_PRODUCER_OPERATOR_FEE_PER_GAS=1000000000
          export ETHREX_BLOCK_PRODUCER_L1_FEE_VAULT_ADDRESS=0x45681AE1768a8936FB87aB11453B4755e322ceec
          cd crates/l2
          export $(cat ../../cmd/.env_l2b | xargs)
          DOCKER_ETHREX_WORKDIR=/usr/local/bin \
          ETHREX_WATCHER_BLOCK_DELAY=0 \
          ETHREX_COMMITTER_COMMIT_TIME=15000 \
          ETHREX_WATCHER_WATCH_INTERVAL=1000 \
          ETHREX_WATCHER_L2_RPCS=http://ethrex_l2:1729 \
          ETHREX_WATCHER_L2_CHAIN_IDS=65536999 \
          ETHREX_WATCHER_ROUTER_ADDRESS=$ETHREX_SHARED_BRIDGE_ROUTER_ADDRESS \
          docker compose -f docker-compose.yaml -f docker-compose-l2-shared-bridge.overrides.yaml up --detach --no-deps ethrex_l2_b

      - name: Init prover
        run: | 
          sudo chmod -R a+rw crates/l2
          cd crates/l2
          cargo run --release --features "l2,l2-sql" --manifest-path ../../Cargo.toml -- \
          l2 prover \
          --proof-coordinators tcp://127.0.0.1:3900 tcp://127.0.0.1:3901 \
          --backend exec

      - name: Run shared bridge test
        run: |
          cargo test shared_bridge --release -- --nocapture --test-threads=1

      - name: Run test L2A
        run: |
          sudo chmod -R a+rw crates/l2
          cd crates/l2
          cp ../../cmd/.env_l2a ../../cmd/.env
          docker logs --follow ethrex_l2 &
          docker logs --follow ethrex_l1 &
          PROPOSER_COINBASE_ADDRESS=0x0007a881CD95B1484fca47615B64803dad620C8d cargo test l2 --release -- --nocapture --test-threads=1

      - name: Run test L2B
        run: |
          sudo chmod -R a+rw crates/l2
          cd crates/l2
          cp ../../cmd/.env_l2b ../../cmd/.env
          docker logs --follow ethrex_l2_b &
          docker logs --follow ethrex_l1 &
          PROPOSER_COINBASE_ADDRESS=0x0007a881CD95B1484fca47615B64803dad620C8d INTEGRATION_TEST_L2_RPC=http://localhost:1730 cargo test l2 --release -- --nocapture --test-threads=1
        
      - name: Run shared bridge test after integration tests
        run: |
          cargo test shared_bridge --release -- --nocapture --test-threads=1
          killall ethrex -s SIGINT

