name: Tooling

on:
  push:
    branches: ["main"]
  merge_group:
  pull_request:
    branches: ["**"]
  workflow_dispatch:

permissions:
  contents: read
  actions: write

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  detect-changes:
    runs-on: ubuntu-latest
    outputs:
      run_tools: ${{ steps.finish.outputs.run_tools }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            run_tools:
              - '!crates/l2/**'
      - name: finish
        id: finish
        run: |
          if [[ "${GITHUB_EVENT_NAME}" != "pull_request" ]]; then
              echo "run_tools=true" >> "$GITHUB_OUTPUT"
          else
              echo "run_tools=${{ steps.filter.outputs.run_tools }}" >> "$GITHUB_OUTPUT"
          fi
      - name: Print result
        run: echo "run_tools=${{ steps.finish.outputs.run_tools }}"

  lint:
    name: Tooling Lint
    runs-on: ubuntu-latest
    needs: detect-changes
    if: ${{ needs.detect-changes.outputs.run_tools == 'true' }}
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Free Disk Space
        uses: ./.github/actions/free-disk

      - name: Setup Rust Environment
        uses: ./.github/actions/setup-rust
        with:
          components: rustfmt, clippy

      - name: Run tooling cargo check
        run: cargo check --workspace --all-targets
        working-directory: tooling

      - name: Run tooling cargo clippy
        run: cargo clippy --workspace --all-targets -- -D warnings
        working-directory: tooling

      - name: Run tooling cargo fmt
        run: cargo fmt --all -- --check
        working-directory: tooling

  test:
    name: Test
    runs-on: ubuntu-latest
    needs: detect-changes
    if: ${{ needs.detect-changes.outputs.run_tools == 'true' && github.event_name != 'merge_group' }}
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Free Disk Space
        uses: ./.github/actions/free-disk

      - name: Setup Rust Environment
        uses: ./.github/actions/setup-rust

      - name: Install solc
        uses: lambdaclass/get-solc@master
        with:
          version: v0.8.29
          token: ${{ secrets.GITHUB_TOKEN || '' }}

      - name: Run Blockchain EF tests
        run: |
          make -C tooling/ef_tests/blockchain test

  reorg-tests:
    name: Reorg Tests
    runs-on: ubuntu-latest
    needs: detect-changes
    if: ${{ needs.detect-changes.outputs.run_tools == 'true' && github.event_name != 'merge_group' }}
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Free Disk Space
        uses: ./.github/actions/free-disk

      - name: Setup Rust Environment
        uses: ./.github/actions/setup-rust

      - name: Install solc
        uses: lambdaclass/get-solc@master
        with:
          version: v0.8.29
          token: ${{ secrets.GITHUB_TOKEN || '' }}

      - name: Compile ethrex binary
        run: cargo build --bin ethrex

      - name: Run reorg tests
        run: cd tooling/reorgs && cargo run
