name: Benchmark Block building

# This benchmark is put on manual mode until it's fixed.

on:
  workflow_dispatch:
  #pull_request:
  #branches: ["**"]

permissions:
  contents: read
  issues: write
  pull-requests: write

env:
  # Work around frequent libgit2/submodule fetch flakiness in CI.
  CARGO_NET_GIT_FETCH_WITH_CLI: "true"
  CARGO_NET_RETRY: "10"

jobs:
  build-block-benchmark:
    if: contains(github.event.pull_request.labels.*.name, 'performance')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
      - name: Setup Rust Environment
        uses: ./.github/actions/setup-rust

      - name: Benchmarks
        uses: boa-dev/criterion-compare-action@v3
        with:
          cwd: "benches/benches"
          benchName: "build_block_benchmark"
          branchName: ${{ github.base_ref }}
          token: ${{ secrets.GITHUB_TOKEN }}
