[package]
name = "ethrex-crypto"
version.workspace = true
edition.workspace = true
authors.workspace = true
documentation.workspace = true
license.workspace = true

[lib]
path = "./lib.rs"

[dependencies]
# TODO(#1102): Move to Lambdaworks in the future
c-kzg = { version = "2.1.1", default-features = false, optional = true }
kzg-rs = { workspace = true, optional = true }
openvm-kzg = { git = "https://github.com/axiom-crypto/openvm-kzg.git", rev = "530a6ed413def5296b7e4967650ba4fc8fd92ea1", optional = true } # v1.4.1
ethereum-types.workspace = true
thiserror.workspace = true

# native-crypto dependencies
secp256k1 = { workspace = true, optional = true }
sha2 = { version = "0.10.9", optional = true }
ripemd = { version = "0.1.3", optional = true }
hex-literal = { version = "0.4.1", optional = true }
ark-bn254 = { version = "0.5.0", optional = true }
ark-ec = { version = "0.5.0", optional = true }
ark-ff = { version = "0.5.0", features = ["asm"], optional = true }
malachite = { version = "0.6.1", optional = true }
p256 = { version = "0.13.2", features = ["ecdsa", "arithmetic", "expose-field"], optional = true }
bls12_381 = { git = "https://github.com/lambdaclass/bls12_381", branch = "expose-fp-struct", features = ["groups", "bits", "pairings", "alloc", "experimental"], optional = true }
ff = { version = "0.13", optional = true }

#[target.'cfg(not(any(target_arch = "x86_64", target_arch = "aarch64")))'.dependencies]
tiny-keccak = { version = "2.0.2", features = ["keccak"] }

[features]
default = ["kzg-rs", "native-crypto"]
c-kzg = ["dep:c-kzg", "c-kzg/std", "c-kzg/ethereum_kzg_settings"]
openvm-kzg = ["dep:openvm-kzg"]
kzg-rs = ["dep:kzg-rs"]
native-crypto = [
    "dep:secp256k1",
    "dep:sha2",
    "dep:ripemd",
    "dep:hex-literal",
    "dep:ark-bn254",
    "dep:ark-ec",
    "dep:ark-ff",
    "dep:malachite",
    "dep:p256",
    "dep:bls12_381",
    "dep:ff",
    "c-kzg",
]

risc0 = ["c-kzg/std", "c-kzg/ethereum_kzg_settings", "c-kzg/portable"]
openvm = ["openvm-kzg"]

[lints]
workspace = true
