[package]
name = "ethrex-crypto"
version.workspace = true
edition.workspace = true
authors.workspace = true
documentation.workspace = true

[lib]
path = "./lib.rs"

[dependencies]
# TODO(#1102): Move to Lambdaworks in the future
c-kzg = { version = "2.1.1", optional = true }
kzg = { git = "https://github.com/grandinetech/rust-kzg.git", package = "rust-kzg-zkcrypto" }
kzg_traits = { git = "https://github.com/grandinetech/rust-kzg.git", package = "kzg" }
kzg-rs.workspace = true

thiserror.workspace = true

[features]
default = []
c-kzg = ["dep:c-kzg"]
risc0 = ["c-kzg"]
